name: dbt_on_push
on:
  push:
    branches:
      # run on push to development branch
      - main
      - release/**

env:
  CONNECTION_TYPE: snowflake
  DB_HOST: ${{ secrets.DB_HOST }}
  DB_USER: ${{ secrets.DB_USER }}
  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
  DB_NAME: ${{ secrets.DB_NAME }}
  DB_SCHEMA: ${{ secrets.DB_SCHEMA }}
  DB_ROLE: ${{ secrets.DB_ROLE }}

jobs:
  dbt_on_push:
    name: dbt_on_push
    runs-on: ubuntu-latest
      
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v1
        with:
          python-version: "3.7.x"

      - name: Set dbt profile
        run: |
          mkdir ~/.dbt
          cp ./profiles.yml ~/.dbt/

      - name: Install dependencies
        run: |
          pip install dbt
          dbt deps
          dbt compile

      - name: Run dbt seed
        run: dbt seed

      - name: Run dbt test
        run: dbt test
      
      - name: Run dbt test
        run: dbt run
